.maze {
    border: 3px solid #292929;
    display: inline-block;
    vertical-align: top;
    margin-left: 25%;
    margin-top: 15%;
    background-color: rgba(215, 215, 209, 0.8);
}
.maze .mazeRow .mazeSpace {
    display: inline-block;
    border: 3px solid rgba(215, 215, 209, 0.8);
    width: 2em;
    height: 2em;
    overflow: hidden;
    line-height: 2em;
    font-size: 2em;
    text-align: center;
    position: relative;
}
.maze .mazeRow .mazeSpace.north {
    border-top-color: #292929;
}
.maze .mazeRow .mazeSpace.east {
    border-right-color: #292929;
}
.maze .mazeRow .mazeSpace.south {
    border-bottom-color: #292929;
}
.maze .mazeRow .mazeSpace.west {
    border-left-color: #292929;
}
.maze .mazeRow .mazeSpace i {
    display: block;
    position: absolute;
    width: 2em;
    color:  #7CFC00;
}
.maze .mazeRow .mazeSpace i.robot {
    color: #292929;
}

div.actions {
    margin-top: 15%;
    padding: 2em;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
div.actions i.robot {
  display: block;
  text-align: center;
  font-size: 3em;
  margin-top: .5em;
}


div.actions .btn {
    display: block;
    margin-bottom: .5em;
}

.btn {
  margin-top: 15%;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(215, 215, 209, 0.2);
  background-repeat: repeat-x;
  border-radius: 0px;
  -webkit-box-shadow: 10px 10px 11px 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 10px 10px 11px 8px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 11px 8px rgba(0,0,0,0.8);
  font-family: 'Raleway', sans-serif;

}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:hover {
  color: white;
  text-decoration: none;
  background-color: grey;
  *background-color: #d9d9d9;

  background-position: 0 -15px;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#page {
    background: url(https://images.unsplash.com/photo-1449827292683-d3d9da0dde3c?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1250) no-repeat center center fixed; 
    height: 800px;
    width: 100%;
    margin: 0px;
    padding: 0;
    background-size: cover;
}

.robot {
  color: white;
}